@model IEnumerable<Movie_Rental_Store.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<a class="btn btn-primary mb-3" href="@Url.Action("CustomerForm","Customers")">New Customer</a>


<table class="table table-light table-hover" id="customers">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customers in Model)
        {
            <tr>
                <td><a href="@Url.Action("Edit","Customers",new {id = customers.Id})">@customers.Name</a></td>
                <td>@customers.MembershipType.Name</td>
                <td>
                    <button data-customer-id="@customers.Id" class="btn-link js-delete">Delete</button>
                </td>
            </tr>

        }
    </tbody>
</table>


@section scripts{
    <script>
        $(document).ready(function () {

            var table = $('#customers').DataTable();

            $('#customers .js-delete').click(function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this customer ?", function (result) {
                    if (result) {
                        $.ajax({
                            url: '/Api/Customers/' + button.attr('data-customer-id'),
                            method: 'DELETE',
                            success: function () {
                                table.row(button.parents('tr')).remove().draw();
                            }
                        });
                    }
                })
            });
        });
    </script>
}

